<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Layout Name="初始化配置文件--只读" 
    Version="1001"
    ClientSign="0"
    ClientSign2="0"
    GameID="1030019902"
    Url1="https://config-dsa.iggapis.com/appconf/1030019902/server_config"
    Url2="https://standby-config.9458.com/appconf/1030019902/server_config"
    Url3="https://config.iggapis.com/appconf/1030019902/server_config"
    IggUrl="https://cgi.iggapis.com/public/guest_user_login_igg?m_guest=%s&amp;m_key=%s&amp;m_data=%s&amp;m_game_id=%d&amp;keep_time=2592000"
    TermsofServiceUrl="https://policies.igg.com/terms_of_service"
    PrivacyPolicyUrl="https://policies.igg.com/privacy_policy"
	InfoCollectUrl="https://policies.igg.com/view/?id=600"
    ToThreeInfoCollectUrl="https://policies.igg.com/view/?id=899"
    LivechatSupport="https://goto.igg.com/game/livechat/1030019902"
    PayLivechatSupport="https://goto.igg.com/game/livechat/1030019902/payment"
    CashShopUrl="https://pay-hub.iggapis.com/api/get_game_card.php?g_id=1030019902&amp;p_name=android"
    CashShopUrlBack="https://pay-gateway.iggapis.com/android/cc_us_callback.php"
    CashShopSeq="39988,39989,39990,39991,39992,39993,39994,39995,39996,43055"
    Forum="https://goto.igg.com/game/forum/1030019902"
    SubmitBug="https://goto.igg.com/game/service/1030019902"
    OnlineEvt="https://event-eu-cc.igg.com/event/?g_id=1030019902"
    FackBookUrl="https://www.facebook.com/CastleClash"
    GameVideoPushUrl="https://snd-storage.igg.com/push.php"
    GameVideoPullUrl="https://snd-storage.igg.com/pull.php"
    CloudDataPushUrl="https://snd-storage.igg.com/protracted/push.php"
    CloudDataPullUrl="https://snd-storage.igg.com/protracted/pull.php"
    EventUrl="https://config-dsa.iggapis.com/appconf/1030019902/event_config"
    EventUrlEx="https://config-dsa.iggapis.com/appconf/1030019902/promotion_event_config"
    GiftBagUrl="https://event-eu-cc.igg.com/api/get_promotion_giftbag_config.php?g_id=1030019902&amp;iggid=%s"
    TapJoy="1"
    BaseKey="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA60lDLdbsrd7Ad6yoFxumIMhmG/Sqf4kwQRT2ZyJdGk9xHtAPY39F5/qSK4FZLpA8AO7orJZIK739LENfkfO+ZChqeftxfUlryxSyHf0DzpIvB2Lf7SjB59WyVb8MTMTV4JQKb9FxbBDN60WNtwYwXt19KJRyYf/4WpE2teqGoN6bMrAOxv5VcggpgZrluc2vsFSNOY1k+/+zdI/XyK1pv3Xa9ykc2Aurwo9OcNAyaDvvaqKipkJmejl+2Y44ObagYdykymIvfF3Ctw1mHXEBLva64lq6/Tzda+pxadb/C9CknNJkLe8N6Zl8xBSIq1xII6lMIadOYJELTEcf+EC/mwIDAQAB"
    
    UrlPara="signed_key=%s&amp;uid=%s&amp;username=%s&amp;game_info=Gameversion%s%%26dev_ver%s%%26Os%s&amp;mobile=1&amp;dev_ver=%s&amp;game_ver=%s&amp;l=%s&amp;login&amp;reset_access_mode=1"
    UrlPara2="sso_token=%s&amp;uid=%s&amp;username=%s&amp;game_info=Gameversion%s%%26dev_ver%s%%26Os%s&amp;mobile=1&amp;dev_ver=%s&amp;game_ver=%s&amp;l=%s&amp;login&amp;reset_access_mode=1"
    ShareawardsUrl="https://event-eu-cc.igg.com/goto.php?event=share&amp;g_id=1030019902"
    InstagramUrl="https://www.instagram.com/castleclash.igg/?utm_source=ig_profile_share&amp;igshid=7y8zln9qf2am"
	GiftCodeUrl="https://event-eu-cc.igg.com/event/cdkey/"

    HPUrl="https://event-eu-cc.igg.com/event/probability/?g_id=1030019902"
	HeroCollocation="https://event-eu-cc.igg.com/event/hero/?event_gid=1030019902&amp;g_id=%d"
	AppStoreUrl="market://details?id=com.igg.castleclash"
	DiscordURL="https://discord.com/invite/castleclash"
    
    GoogleRecommendType="0"

    XAPKFileVersion=""
    XAPKFile="3"
    XAPKFileSize="634"
    XAPKMD5="92f79a84f5a14f06c2d17c44e0a6cb82"
>
</Layout>